// ------- colors -------- //
$color-primary-red: #ed213a;
$color-primary-dark: #0b0b0c;
$color-primary-grey: #696969;
$color-primary-white: #f0f8ff;
$color-secondary-greyRed: #533030ab;
$color-gradient-darkRed: #351a17da, #680c160e;
