/*----- Animation -----*/
@keyframes moveInFromTop {
  /* start of animation */
  0% {
    opacity: 0;
    transform: translateY(-10rem); /* -100px from top to its current location*/
  }
  /* finish animation */
  100% {
    opacity: 1;
    transform: translate(0); /* original state */
  }
}
@keyframes moveInFromBottom {
  /* start of animation */
  0% {
    opacity: 0;
    transform: translateY(10rem); /* -100px from top to its current location*/
  }
  /* finish animation */
  100% {
    opacity: 1;
    transform: translate(0); /* original state */
  }
}
/* used for in the header picture show */
@keyframes headerAnim {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    scale: 1;
  }
  60% {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  display: none;
}

/* Universal Selector '*' */
*,
*::after,
*::before {
  /* make everything zero margin & padding for CLEAN start*/
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* this will force inherit the box sizing we set in the body*/
}

html {
  font-size: 62.5%;
}

/* Body element selector: power inheretance */
body {
  /* border-box :  change the box model so the margins and paddings are no longer added to the total width/height that we specify for the box*/
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  /* font-size: 18px; */
  line-height: 1.7;
  color: #696969;
  background-color: #0b0b0c;
}

.heading-primary {
  color: #f0f8ff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Inter", sans-serif;
  backface-visibility: hidden; /* property sets whether the back face of an element is visible when turned towards the user*/
  margin-bottom: 10vh; /* separation from heading to the order now button */
}
.heading-primary--main {
  display: block; /* making the 2 texts slogan on top of each other. block creates line break and take the entire width*/
  font-weight: 800;
  font-size: 13rem;
  letter-spacing: 1rem;
  animation-name: moveInFromTop; /* see animation section */
  animation-duration: 1.2s;
}
.heading-primary--sub {
  display: block; /* check above definition from 'primary-main' */
  font-weight: 400;
  font-size: 8rem;
  letter-spacing: 3.5rem;
  animation-name: moveInFromBottom;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.6); /* slow show animation*/
}

.btn--white {
  /* background-color: #ed213a; */
  color: #f0f8ff;
  border-style: solid;
  border-color: #ed213a;
  border-width: 0.4rem;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration-line: none;
  padding: 1.5rem 4.2rem; /* button size padding*/
  display: inline-block; /* so that it'll have its own space*/
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-0.6rem);
  background-color: #ed213a;
  color: #0b0b0c;
  box-shadow: 0 1rem 2rem rgba(83, 48, 48, 0.6705882353);
  /* 0 = X axis, 10px = Y axis, 20px = shadow blur*/
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(83, 48, 48, 0.6705882353);
}
.btn--animated {
  animation: moveInFromBottom 0.5s ease-out 1.5s;
  animation-fill-mode: backwards;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: #11c9a1;
  font-size: 2rem;
  margin-bottom: 80px;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

/* .logo {
    height: 45px;
   */
/* header */
.header {
  height: 100vh;
  height: 100svh; /* 95% viewport height */
  background-image: linear-gradient(to right bottom, rgba(53, 26, 23, 0.8549019608), rgba(104, 12, 22, 0.0549019608)), url(../img/burgerMeal2small2.jpg);
  background-size: cover; /*whatever the width of the viewport, it will try to fit the element of the box*/
  background-position: center; /* making the top area of the burger background stayput while being minimized*/
  position: relative;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); /*need to fix clipping the logo */
  isolation: isolate;
  width: 100vw;
  overflow: hidden;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  /* Too Tasty to be Legal */
}
.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%; /* these "top" and "left" positions are in relation to the parent element*/
  transform: translate(-50%, -50%); /* this is in relation to the element itself. */
  text-align: center; /* making text elements to the center*/
}
.header--bg-header {
  animation: headerAnim 28s linear infinite;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  inset: 0;
  opacity: 0;
  position: absolute;
  scale: 1.2;
  z-index: -1;
}
.header--bg-header:nth-child(1) {
  background-image: linear-gradient(to right bottom, rgba(53, 26, 23, 0.8549019608), rgba(104, 12, 22, 0.0549019608)), url(../img/threePatty.jpg);
}
.header--bg-header:nth-child(2) {
  animation-delay: 8s;
  background-image: linear-gradient(to right bottom, rgba(53, 26, 23, 0.8549019608), rgba(104, 12, 22, 0.0549019608)), url(../img/chickenBurger.jpg);
}
.header--bg-header:nth-child(3) {
  animation-delay: 16s;
  background-image: linear-gradient(to right bottom, rgba(53, 26, 23, 0.8549019608), rgba(104, 12, 22, 0.0549019608)), url(../img/burgerComboWithDrink.jpg);
}

/* colors
----Gradient----
pure lust: 
#333333
#dd1818

Burning Orange:
#FF416C
#FF4B2B

Sin city
#ED213A
#93291E
*/
.section-expirement {
  position: relative;
  display: flex;
  color: #f0f8ff;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
  padding: 10rem 30vw; /*vw or viewwidth */
  font-size: 2rem;
}/*# sourceMappingURL=main.css.map */