.row {
  max-width: $grid-width; //we set 114rem(1140px is the usual monitor width) as the default and if it's less than 114rem, then browser will occupy 100% of the width
  margin: 0 auto;
  background-color: #11c95e;
  font-size: 2rem;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical; // all element under .row class will have this setting EXCEPT for the last one.
  }

  .col-1-of-2 {
    width: calc(
      (100% - #{$gutter-horizontal}) / 2
    ); // using the calc() function to get the desired column structure. we need to wrap the sass variable with #{}
    background-color: aquamarine;
    float: left; // we always float these column to the left. they are now on the same row

    &:not(:last-child) {
      margin-right: $gutter-horizontal; // since gutter will be from the left column. we will not include the right column margin
    }
  }
}
