.card {
  // FUNCTIONALITY
  //perspective will make the card flip more realistic
  -moz-perspective: 150rem;
  perspective: 150rem; //must set in parent element. the &:hover is the child element.
  position: relative; //.card is the parent. position relative due to absolute position at &__side
  height: 50rem; //must be the same with "&__side" inorder to maintain the perspective view effect. fixes the float issue due to the absolute position on the child &__side

  &__side {
    font-size: 2rem;
    color: #fff;
    height: 50rem; //must be the same with ".card" inorder to maintain the perspective view effect
    transition: all 0.8s ease;
    position: absolute; //must set to absolute so the 2 faces should be on top of each other. ".card" is the parent and that is why its position is relative
    top: 0;
    left: 0;
    width: 100%; //so card size wont depend on text width.
    backface-visibility: hidden; //hides the backside of the element when revolving. the front will be the only thing shown and animation is better
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem rgba($color-primary-dark, 0.18);

    &--front {
      background-color: $color-primary-white;
    }
    //the back face should be facing 180deg from the start as states
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  //this will revolve the card on the Y axis. needs to be negative value so it will show as a complete flip
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  //from 180deg, back face will revolve to 0deg once hovered
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // FRONT SIDE STYLING
  &__picture {
    &--1 {
      background-image: url();
    }
  }
}
