.composition {
  position: relative; //assigned a position to relative so this will serve as the parent positionn of __photo below

  &__photo {
    width: 55%; //percentage are used for down scaling or responsive design
    border-radius: 50%;
    box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, 0.4);
    position: absolute; //parent is the composition

    &--p1 {
      left: 0;
      top: -7rem;
    }
    &--p2 {
      right: -2rem;
      top: 1rem;
    }
    &--p3 {
      left: 11%;
      top: 14rem;
    }

    &:hover {
      transform: scale(1.04);
    }
  }
}
