body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  /* font-size: 18px; */
  line-height: 1.7;
  color: $color-primary-grey;
  background-color: $color-primary-dark;
}

.heading-primary {
  color: $color-primary-white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Inter', sans-serif;
  backface-visibility: hidden; /* property sets whether the back face of an element is visible when turned towards the user*/
  margin-bottom: 10vh; /* separation from heading to the order now button */

  &--main {
    display: block; /* making the 2 texts slogan on top of each other. block creates line break and take the entire width*/
    font-weight: 800;
    font-size: 13rem;
    letter-spacing: 1rem;

    animation-name: moveInFromTop; /* see animation section */
    animation-duration: 1.2s;
  }

  &--sub {
    display: block; /* check above definition from 'primary-main' */
    font-weight: 400;
    font-size: 8rem;
    letter-spacing: 3.5rem;

    animation-name: moveInFromBottom;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(
      0.95,
      0.05,
      0.795,
      0.6
    ); /* slow show animation*/
  }
}

.heading-secondary {
  color: transparent; // transparent color to make the background image gradient visible to the text 'OUR HISTORY'
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Inter', sans-serif;
  backface-visibility: hidden;
  font-weight: 800;
  background-image: linear-gradient(
    to right,
    $color-primary-red,
    $color-primary-dark-red
  );
  display: inline-block;
  -webkit-background-clip: text; // this will clip the background image to the text 'OUR HISTORY'. the gradient will now apply to the text 'OUR HISTORY'
  letter-spacing: 3px;
  animation-name: moveInFromTop; /* see animation section */
  animation-duration: 1.2s;
  will-change: transform;
  transition: transform 450ms;

  &:hover {
    letter-spacing: 3.3px;
    transition: transform 125ms;
    transform: translateY(-10px);
    color: $color-primary-red;
    text-shadow: 0.5rem 1rem 2rem rgba($color-primary-dark, 0.2); //.5rem = 'X' direction is 5px. 1rem = 'Y' direction is 10px. 2rem = 20px off blur.
  }

  // &--main {
  //   font-weight: 600;
  //   font-size: 20rem;
  //   letter-spacing: 1rem; }

  &--sub {
    display: grid; /* check above definition from 'primary-main' */
    font-weight: 400;
    font-size: 8rem;
    letter-spacing: 3.5rem;

    animation-name: moveInFromBottom;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(
      0.95,
      0.05,
      0.795,
      0.6
    ); /* slow show animation*/
  }
}
