.header-secondary {
  background-color: $color-primary-white;
  // padding: 10rem 20rem;
  // border-right: 45vh solid $color-primary-red;
  display: flex;
  z-index: -1;
  height: 100vh;
  overflow: hidden;
  isolation: isolate;
}

.heading-secondary-sub {
  display: inline-block;
}

.section-about {
  background-color: $color-white-1;
  padding: 10rem 25rem 18rem;
}

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, $color-gradient-darkRed),
    url(../img/onion-ring-features.png);
  background-size: cover; /*whatever the width of the viewport, it will try to fit the element of the box*/
  background-position: center;
}

.section-best {
  background-color: $color-white-1;
  padding: 25rem;
}
// (START) part of 2nd OPTION HEADER
// .heading-secondary--burger {
//   height: 40rem;
//   position: relative;
//   display: inline-block;
//   // justify-content: flex-end;
//   left: 32vw;
//   top: 20vh;
//   z-index: 1;
// }

// .red-stripe {
//   background-color: $color-primary-red;
//   position: relative;
//   // height: 100rem;
//   min-width: 80rem;
//   max-width: 90rem;
//   left: 400px;
//   padding: 0%;
//   // z-index: -1;
// }
// .heading-secondary {

// }
// (END) part of 2nd OPTION HEADER
